<div class="container-fluid justify-content-center">
  <form [formGroup]="userForm">
    <div *ngIf="userSelected">
      <h1>{{userSelected.statut}}</h1>

      <div class="form-group">
        <label>First Name</label>
        <input type="text" formControlName="firstName" placeholder="Enter your First Name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" [(ngModel)]="userSelected.firstName"/>
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
      </div>

      <div class="form-group">
        <label>Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" placeholder="Enter your Last Name" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" [(ngModel)]="userSelected.lastName">
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
          <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="email" formControlName="email" class="form-control" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" [(ngModel)]="userSelected.email">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
      </div>

      <div class="form-group">
        <label>Mobile</label>
        <input type="tel" formControlName="mobile" class="form-control" placeholder="Enter your phone number" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" [(ngModel)]="userSelected.mobile" [pattern]="mobileNumberPattern">
        <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
          <div *ngIf="f.mobile.errors.required">Mobile is required</div>
          <div *ngIf="f.mobile.errors.pattern">Mobile number not valid. (example : 0606060606) </div>
        </div>
      </div>
      <div class="form-group">
        <label>Licence Number</label>
        <input type="text" formControlName="licenceNum" class="form-control" placeholder="Enter your licence number (optional)" [(ngModel)]="userSelected.licenceNum">
      </div>

      <p *ngIf="userSelected.id == 0">Teacher</p>
      <p *ngIf="userSelected.id != 0">{{userSelected.role}}</p>

      <section class="button-with-link">
        <button nbButton (click)="updateUser()" *ngIf="userSelected.id !=0">Update User</button>
        <button nbButton (click)="addUser()" *ngIf="userSelected.id == 0">Add User</button>
        <span>
          <button nbButton (click)="changetoAdmin()" *ngIf="userSelected.statut == 'User' && userSelected.role == 'Teacher'">
            <nb-icon icon="chevron-right-outline"></nb-icon>Convert to administrator
          </button>
        </span>
      </section>
    </div>
  </form>
</div>

