<div class="card" style="background-color: cornflowerblue;">
	<div class="card-body">
		<div *ngIf="userSelected">
			<h1>{{userSelected.statut}}</h1>
			<label for="firstname">First Name : </label>
			<input id="firstname" type="text" [(ngModel)]="userSelected.firstName">
			<label for="lastname">Last Name : </label>
			<input id ="lastname" type="text" [(ngModel)]="userSelected.lastName">
			<label for="email">Email : </label>
			<input id="email" type="text" [(ngModel)]="userSelected.email">
			<label for="mobile">Mobile : </label>
			<input id="mobile" type="text" [(ngModel)]="userSelected.mobile">
			<label for="licencenumber">Licence Number : </label>
			<input id="licencenumber" [(ngModel)]="userSelected.licenceNum"/>
			<p *ngIf="userSelected.id == 0">Teacher</p>
			<p *ngIf="userSelected.id != 0">{{userSelected.role}}</p>
			<button (click)="updateUser()" *ngIf="userSelected.id !=0">Update User</button>
			<button (click)="addUser()" *ngIf="userSelected.id == 0">Add User</button>
			<button (click)="changetoAdmin()" *ngIf="userSelected.statut == 'User'"></button>
		</div>
	</div>
</div>