<nb-layout center>
  <nb-layout-header fixed>{{title}}</nb-layout-header>

  <nb-layout-column>
    <nb-card>
      <nb-card-header>
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <button nbButton routerLink="/home" routerLinkActive="activebutton">Home</button>
            </div>
            <div class="col-sm-4">
              <button nbButton routerLink="/signup" routerLinkActive="activebutton">Sign up</button>
            </div>
            <div class="col-sm-4">
              <button nbButton routerLink="/login" routerLinkActive="activebutton">Login</button>
            </div>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body >
        <router-outlet></router-outlet>
      </nb-card-body>

    </nb-card>
  </nb-layout-column>

  <nb-layout-footer>
    <h1>Contact US</h1>
  </nb-layout-footer>

</nb-layout>

