<nb-layout>
  <nb-layout-header fixed>
    <div class="col-lg-8 col-xl-9 col-md-8 col-sm-7 col-5 justify-content-center">{{title}}</div>
    <div class="col-lg-2 col-xl-2 col-md-3 col-sm-4 col-5">
      <button nbButton routerLink="/login" routerLinkActive="activebutton">Login/Sign up</button>

    </div>
    <div class="col-lg-2 col-xl-1 col-md-1 col-sm-1 col-2">
      <button nbButton routerLink="/home" routerLinkActive="activebutton"><nb-icon icon="home"></nb-icon></button>
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <alert></alert>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer>
    <h1>Contact US</h1>
  </nb-layout-footer>
</nb-layout>


