<div class="col-lg-8 col-xl-9 col-md-8 col-sm-7 col-5 justify-content-center">
	<div>
      <button nbButton>Course</button>
    </div>
    <div class="col-lg-2 col-xl-2 col-md-3 col-sm-4 col-5">
      <button nbButton routerLink="/login" routerLinkActive="activebutton"><nb-icon icon="log-in-outline"></nb-icon></button>
      <button nbButton routerLink="/home" routerLinkActive="activebutton"><nb-icon icon="log-out-outline"></nb-icon></button>
    </div>
    <div class="col-lg-2 col-xl-1 col-md-1 col-sm-1 col-2">
      <button nbButton routerLink="/home" routerLinkActive="activebutton"><nb-icon icon="home"></nb-icon></button>
	</div>
</div>